.cover__link{
    font-family: Inter;
    font-size: 18px;    
    text-decoration: none;
    color:rgba(255, 255, 255, 1);
    background-color: rgba(2, 120, 254, 1);
    margin:  3% auto 18%;
    padding: 1.5%  3%;
    border-radius: 5px;
    text-align: center;

}

.cover__link:hover{
    opacity: 0.8;
}