.cover__link{
    font-family:'inter600', Arial,sans-serif;
    font-size: 18px;
    text-decoration: none;
    color:rgba(255, 255, 255, 1);
    background-color: rgba(2, 120, 254, 1);
    margin:  3% auto 19%;
    padding: 1.5%  3%;
    border-radius: 5px;
    text-align: center;
    transition: transform  0.5s ease;

}

.cover__link:hover{
    transform: scale(1.1, 1.1);

}
