/* normaliacion */

@import url(./vendor/normalize.css);

/* ajuste de la pagina */

@import url(./blocks/page/page.css);



/* header */
@import url(./blocks/header/header.css);

/*logo*/
@import url(./blocks/logo/logo.css);


/*lead*/

@import url(./blocks/lead/lead.css);
@import url(./blocks/lead/__title/lead__title.css);
@import url(./blocks/lead/__subtitle/lead__subtitle.css);
@import url(./blocks/lead/__image/lead__image.css);

/* intro */
@import url(./blocks/intro/intro.css);
@import url(./blocks/intro/__title/intro__title.css);
@import url(./blocks/intro/__cita/intro__cita.css);
@import url(./blocks/intro/__author/intro__author.css);
@import url(./blocks/intro/__paragraph/intro__paragraph.css);

/* photo-grid*/
@import url(./blocks/photo-grid/photo-grid.css);
@import url(./blocks/photo-grid/__01/photo-grid__01.css);
@import url(./blocks/photo-grid/__02/photo-grid__02.css);
@import url(./blocks/photo-grid/__03/photo-grid__03.css);
@import url(./blocks/photo-grid/__04/photo-grid__04.css);
@import url(./blocks/photo-grid/__05/photo-grid__05.css);
@import url(./blocks/photo-grid/__06/photo-grid__06.css);
@import url(./blocks/photo-grid/__07/photo-grid__07.css);
@import url(./blocks/photo-grid/__08/photo-grid__08.css);

/* places */
@import url(./blocks/places/);

/* place */
@import url(./blocks/place/place.css);
@import url(./blocks/place/__title/place__title.css);
@import url(./blocks/place/__ciudad/place__ciudad.css);
@import url(./blocks/place/__pais/place__pais.css);
@import url(./blocks/place/__website/place__website.css);
@import url(./blocks/place/__url-heading/place__url-heading.css);
@import url(./blocks/place/__artist/place__artist.css);
@import url(./blocks/place/__image/place__image.css);
@import url(./blocks/place/__paragraph/place__paragraph.css);
@import url(./blocks/place/__paragraph-1/place__paragraph-1.css);
@import url(./blocks/place/__paragraph-2/place__paragraph-2.css);
@import url(./blocks/place/__link/place__link.css);
@import url(./blocks/place/__paragraph-3/place_paragraph-3.css);

/*cover*/
@import url(./blocks/cover/cover.css);
@import url(./blocks/cover/__title/cover__title.css);
@import url(./blocks/cover/__subtitle-1/cover__subtitle-1.css);
@import url(./blocks/cover/__subtitle-2/cover__subtitle-2.css);
@import url(./blocks/cover/__subtitle-3/cover__subtitle-3.css);
@import url(./blocks/cover/__link/cover__link.css);

/*footer*/
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

/* media queries*/

@media screen and (max-width: 768px){
    .lead{
        width:100%;
        margin: 10% 0 0;
    }
    .lead__image{
        margin: 5% 0 0 0;
        background-size: 80%;
    }
    .intro{
        width:95%;
        margin: 10% auto 0;    
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 5fr 3fr 1fr 4fr;
    }
    .intro__cita{
        grid-column:  1 / 4;
        grid-row: 2 / 3;
        
    }
    .intro__author{
        grid-column:  1 / 4;
        grid-row: 3 / 4;
    }
    .intro__paragraph{
        
        grid-column:  1 / 4;
        grid-row: 4 / 5;
    }
    .photo-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-row-gap: 0;
        padding-bottom: 0;
     }
    .photo-grid__01{
        margin-left: 0;
        width: 97.5%;
        height: 95%; 
    }
    .photo-grid__02{
        margin-right: 0;
        width: 97.5%;
        height: 95%;
    }
    .photo-grid__03{
        margin-left: 0;
        width: 97.5%;
        height: 95%;
        grid-column: 1  / 2;
        grid-row: 2 / 3;  
    }
    .photo-grid__04{
        margin-right: 0;
        width: 97.5%;
        height: 95%;
        grid-column: 2  / 3;
        grid-row: 2 / 3;
    }
    .photo-grid__05{
        margin-left: 0;
        width: 97.5%;
        height: 95%;
        grid-column: 1  / 2;
        grid-row: 3 / 4;
    }
    .photo-grid__06{
        margin-right: 0;
        width: 97.5%;
        height: 95%;
        grid-column: 2  / 3;
        grid-row: 3 / 4;
    }
    .photo-grid__07{
        margin-left: 0;
        width: 97.5%;
        height: 95%;
        grid-column: 1  / 2;
        grid-row: 4 / 5;
    }
    .photo-grid__08{
        margin-right: 0;
        width: 97.5%;
        height: 95%;
        grid-column: 2  / 3;
        grid-row: 4 / 5;
    }
}