.place__paragraph-2{
    font-family: Inter;
    font-size: 18px;
    line-height: 150%;
    color:rgba(255, 255, 255, 1);
    margin: 0 auto;
    text-align: left;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}