.footer__copyright{
    font-family: Inter;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    margin: auto;
    padding-bottom: 2.5%;
    text-align: center;
    transition: transform  1s ease;
}


.footer__copyright:hover{
    transform: scale(1.1, 1.1);
}