.group-9{
    background-image: url(/imagenes/cover/__background__cover.png);
    width: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    margin: 0 auto 0;
}