.place__link{
    font-family: Inter;
    font-size: 18px;
    line-height: 200%;
    text-decoration: none;
    color:rgba(255, 255, 255, 1);
    background-color: rgba(2, 120, 254, 1);
    margin:  5% auto auto 0;
    text-align: left;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}