.place__link{
    font-family: 'inter600', Arial, sans-serif;
    font-size: 18px;
    text-decoration: none;
    color:rgba(255, 255, 255, 1);
    background-color: rgba(2, 120, 254, 1);
    margin:  5% auto auto 0;
    padding: 3%  3%;
    border-radius: 5px;
    grid-row: 4 / 5;
    grid-column: 1 / 3;
    transition: transform  0.5s ease;
}
.place__link:hover{
    transform: scale(1, 1.25);
    
}
