.place__url-heading{
    font-family: 'inter400', Arial, sans-serif;
    font-size: 12px;
    line-height: 250%;
    color:rgba(170, 170, 170, 1);
    margin: auto;
    text-align: left bottom;
}

.place__url-heading:hover{
    opacity: 0.5;
}