.place__pais-complemento{
    font-family:'Inter900', Arial, sans-serif;
    font-size: 72px;
    text-align:left;
    color: rgba(255, 255, 255, 1);
    margin: 0;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}