.place__pais-complemento{
    font-family:'Inter900';
    font-size: 72px;
    color: rgba(255, 255, 255, 1);
    list-style: none;
    margin: 0 0 0 -35%;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}