.place__pais-principal{
    font-family: 'Inter900';
    font-size: 72px;
    font-weight: bold;
    line-height: 100%;
    color: rgba(255, 255, 255, 1);
    margin: 0;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}